
.react-typeahead-options {
  padding: 0;
  list-style-type: none;
  border: 1px solid $blue-shade;
  cursor: default;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  margin: 0 0 0 -8px;

  li[role="option"] {
    padding: 5px;
    text-align: left;
    cursor: pointer;
  }
}

.react-typeahead-container {
  border: 1px solid $blue-shade;
  padding: 5px 8px;
  border-radius: 0px;
  background-color: white;
  margin: 110px auto 50px auto;
}

.react-typeahead-input {
  position: relative;
  background: white;
  outline: none;
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  border: none;
}