// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  color: $blue-shade;
}

.navbar {
  margin-bottom: 0;
  background: $blue-shade;
}

.navbar-brand {
  font-size: 2em;

  &:hover, 
  &:focus {
    color: $orange-peel;
  }
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.dateContainer {  
	margin: 2em;
}


